<h1> Récapitulatif: </h1>
<div class="container">
        <div class="card">
            <div class="row">
    
                <div class="col s12">
                    <p>Nom: {{data.value.nom}}</p>
                </div>
    
                <div class="col s12">
                    <p>Prénom: {{data.value.prenom}}</p>
                </div>
    
                <div class="col s12">
                    <p>Adresse: {{data.value.adresse}}</p>
                </div>
    
                <div class="col s12">
                    <p>Code Postal: {{data.value.cp}}</p>
                </div>
    
                <div class="col s12">
                    <p>Ville: {{data.value.ville}}</p>
                </div>
    
                <div class="col s12">
                    <p>Téléphone: {{data.value.tel | tel}}</p>
                </div>
    
                <div class="col s12">
                    <p>Email: {{data.value.email}}</p>
                </div>
    
                <div class="col s12">
                    <p>Civilité: {{data.value.civ}}</p>
                </div>
    
                <div class="col s12">
                    <p>Pays: {{data.value.pays}}</p>
                </div>
    
                <div class="col s12">
                    <p>Login: {{data.value.login}}</p>
                </div>
                
            </div>
        </div>
    </div>


