<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Best Footer Ever</h5>
              <p class="grey-text text-lighten-4">J'aurais pu mettre du contenu ici... Mais Non</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright MALVY
          <a class="grey-text text-lighten-4 right" href="https://i.pinimg.com/236x/95/2d/f4/952df4996df74f7b9f399d4816675741.jpg">Fun Fact</a>
          </div>
        </div>
</footer>